* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 44px 0 144px 76px;
}

.link-header {
  font-size: 24px;
  font-weight: 600;
  color: #989d9c;
  line-height: 29px;
  cursor: pointer;
  margin-right: 23px;
}

.button-header {
  width: 130px;
  height: 41px;
  border-radius: 20.5px;
  background: #665ae1;
  font-size: 24px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.logo-image {
  width: 568px;
  height: 500px;
  margin-left: 125px;
  display: inline-block;
}

section{
  display: inline-block;

}

h1{
color: #515151;
font-size: 100px;
font-weight: 900;
line-height: 122px;

}

h2{
color: #515151;
font-size: 58px;
font-weight: 500;
line-height: 71px;

}
